/*
 Editor/Class Specific Styles Only
 */

:root{
--dark-text: #131313;
--midnight: #0d2238;
--light-text: #a3a3a3;
--feather: #d3d3d3;
--heavy-text: #282828;
--dark: #000000;
--green: #00FF00;
}


/* ===================================================================
 * HTML Tag Body Colors and Themes
 *================================================================== */

 .cms-sidebar{
   display:block;
   position: absolute;
   top: 0px;
   left: 0px;
   font-family: "Barlow-Regular";
   background-color: var(--heavy-text);
   color: #555555;
   background: var(--light-text);
   font-size: 1.1em;
   border-radius: 3px;
   width:200px;
   padding:20px;
   box-shadow: 10px 5px 5px dark-text;
   isolation: isolate;
   z-index: 1000;
 }

 .cms-sidebar ul{
    font-size: 0.9em;
    list-style: none;
 }

 .cms-sidebar p{
  display: block;
  font-size: 0.7em;
  text-align: center;
  padding: 10px;
 }

 .cms-sidebar ul li{
    font-size: 0.8em;
    list-style: none;
    align-text: center;
    padding: 10px;
    margin-bottom: 8px;
    margin-left:5px;
 }

  .cmsTitle{
    font-size: 0.8em;
    display: inline-block;
    color: white;
 }


  .cms-sidebar .internal-block{
    display:block;
    margin: 0 auto;
    padding: 15px;
    font-size: 0.9em;
  }

  .cms-sidebar .button{
    display: inline-block;
    border-color: #000;
    background-color: var(--feather);
    color: var(--dark-text);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }

  .cms-sidebar .button:hover{
    background: var(--light-text);
     color: var(--midnight);
     cursor: pointer;
  }
