# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Project Directories added -- If your IDE adds specialized folders please add to Git Ignore
.idea

