<div class='row section-header has-bottom-sep' data-aos='fade-up'>
 <div class='col-full'>
<h3 class='subhead'>Users</h3>
<h1 class='display-2'>Login/Registration</h1>
</div>
</div>
<div class='row section-header center'>
    <div class='block-1-2 home-content__buttons' data-aos='fade-up'>
        <div class='col-block' style='padding-left:30%;'>
             <a id='NewUser' href='#' class='smoothscroll btn btn--stroke'>
            Register
            </a>
        </div>
        <div class='col-block'>
        <a  id='NewGroup' href='#' class='smoothscroll btn btn--stroke align-center'>
            Login
        </a>
        </div>
    </div>
</div>
<div id='user-context' class='inline-context-wrapper row'>
    <form id='user-form' action='model/create/User' method='post' value='Register'  enctype='multipart/form-data' class="align-center">
        <div class="form-item">
            <div class="form-item-label">Email: </div>
            <input type="email" name="Email" value="myemail@email.com" maxlength="45"/>
            <div class="form-item-label">Password:  </div>
            <input type="password" name="Password" maxlength="45"/>
            <input type="submit" value="submit"/>
        </div>
    </form>
    <div class='form-caption align-center'>Register</div>
</div>
<div id='group-context' class='inline-context-wrapper row'>
    <form id='group-form' action='users/login' method='post' value='Login'  enctype='multipart/form-data' class="align-center">
        <div class="form-item">
            <div class="form-item-label">Email</div>
            <input type="email" name="Email" value="example@site.com" maxlength="45"/>
            <div class="form-item-label"></div>
            <input type="password" name="Password" maxLength="45"/>
            <input type="submit" value="Login"/>
        </div>
    </form>
    <div class='form-caption align-center'>Login</div>
    <div class="error-message"></div>
</div>
</div>
