<div class='row section-header has-bottom-sep' data-aos='fade-up'>
 <div class=' col-full'>
<h3 class='subhead'>Admin</h3>
<h1 class='display-2'>Users/Groups</h1>
</div>
</div>
<div class='row section-header center'>
    <div class='block-1-2 home-content__buttons' data-aos='fade-up'>
        <div class='col-block' style='padding-left:30%;'>
             <a id='NewUser' href='/model/create/User' class='smoothscroll btn btn--stroke'>
            Create New User
            </a>
        </div>
        <div class='col-block'>
        <a  id='NewGroup' href='/model/create/Group' class='smoothscroll btn btn--stroke align-center'>
            Create New Group
        </a>
        </div>
    </div>
</div>
